<!DOCTYPE html>
<html>
  <head>
    <title>BootLesson</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      
  </head>

  <body>
    <%= yield %>
  <div class="list-group">
    <%= link_to "トップページ",root_path, class: "list-group-item" %>
    <%= link_to "アイテム",items_path, class: "list-group-item" %>
    <%= link_to "行動"    ,actives_path, class: "list-group-item" %>
    <%= link_to "反省"    ,reviews_path, class: "list-group-item" %>
    <%= link_to "コメント"    ,comments_path, class: "list-group-item" %>
  </div>
  </body>

  
</html>
